.navbar-nav { //the ul tag in the navbar component
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  padding-left: 0;

 //li tag in the navbar component can be added here if needed for styling
 li {
  //font-weight: 900;
 }
  
}

.nav-link {
  font-size: large;
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--color-primary);
}

.navbar-brand {
  margin-left: 10px;
}