.item {
    margin-bottom: 10px;
    border: 1px solid var(--color-border);
    padding: 10px;
    border-radius: 5px;
    padding: 20px 10px;
    border-bottom: solid 1px var(--color-border);
    color: var(--color-text-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: var(--color-surface);
    font-size: 14px;
    font-family: sans-serif;
    min-height: 93px;
}